<!doctype html>
<html>
	<head>
		<link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
	</head>
	<body>
		<div class="header">
			<h1>Virtual Flashcards</h1>
		</div>
		<div class="main">
			<h2>Welcome to the virtual flashcard webapp</h2>
			<h3>The following flashcards concern topics covered in the Advanced Web Technologies lectures</h3>
			<h4>Click the Start button to begin</h4>
			<form action="" method="post" name="start">
				<input type="submit" name="button" value="Start">
			</form>
		</div>
		<div class="footer">
			<h5>Developed by Rachel Marks, newbie Python coder!</h5>
		</div>
	</body>
</html>
